body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eff7e9;
}
.container{
    text-align: center;
}
h1{
    font-size: 2.5em;
    color: #000105;
}
button{
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background-color: rgb(58, 103, 224);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease ;

}

button:hover{
    background-color: rgb(11, 68, 224);
}